.App {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
}

.topPart {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
    line-height: 22px;
    padding: 10px 12px;

}

.leftTopPart {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.leftTopPart > p {
    padding-left: 15px;
    padding-top: 5px;
}

.rightTopPart {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.rightTopPart > p {
    padding-right: 15px;
    color: #808080;
    font-size: 12px;
}

.fontWrapper {
    border: 1px solid black;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.fontIcon {
    font-weight: 100;
    font-size: 1rem;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.questionMark {
    color: #354069;
}